<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TodoApp with Gemini</title>
  <!-- Use a clean, modern Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}">

</head>
<body>
  {% include 'navbar.html' %}

  {% block content %}
  {% endblock %}

  <script src="{{ url_for('static', path='/js/jquery-slim.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/base.js') }}" defer></script>
</body>
</html>
